/* font import url */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');

/* Custom Fonts */
@font-face {
  font-family: 'Cereal-Book';
  src: url(Fonts/Airbnb_Cereal-Book.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cereal-Medium';
  src: url(Fonts/Airbnb_Cereal-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cereal-Bold';
  src: url(Fonts/Airbnb_Cereal-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Default CSS */
* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.5;
  font-family: 'Cereal-Book';
}

body {
  font-family: 'Cereal-Book';
  font-weight: 400;
  font-style: normal;
}

p {
  color: #222;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

img {
  width: 100%;
  display: block;
}

/* Pre-defined Classes */
.left {
  float: left;
}

.right {
  float: right;
}

.block {
  display: block;
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.btn {
  background-color: #da0965;
  color: #fff;
  border-radius: 8px;
  width: 100%;
  padding: 12px 30px;
  text-align: center;
  display: block;
  transition: 0.5s;
}

.btn-gradient {
  background-image: linear-gradient(to right, #d33751, #c62c65);
}

.btn-gradient:hover {
  background-image: linear-gradient(to left, #d33751, #c62c65);
}

.btn:hover {
  background-color: #b5155b;
}

.bold {
  font-weight: bold
}

.font-600 {
  font-weight: 600;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.pointer {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.gap-10 {
  gap: 10px;
}

/* Sections */
main {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  margin-top: 40px;
}

.wrapper {
  max-width: 480px;
}

.price {
  font-size: 22px;
}

.fa-star {
  font-size: 13px;
}

.ratings {
  font-family: 'Cereal-Medium';
}

.ratings:after {
  content: ' \2219';
  color: #222;
  font-weight: bold;
}

.reviews {
  color: #717171;
  font-size: 14px;
  font-family: 'Cereal-Medium';
}

.booking-details {
  border: 1px solid #a1a1a1;
  border-radius: 8px;
  margin-top: 1.5rem;
  letter-spacing: 0.4px;
  position: relative;
}

div.check-in, div.checkout {
  padding: 1rem 1rem 0.5rem;
  min-width: 50%;
}

div.checkout {
  border-left: 1px solid #a1a1a1;
}

.booking-details label.title {
  font-size: 11px;
  font-weight: 600;
}

.dates input#check {
  border: 0;
  outline: 0;
  font-family: 'Cereal-Medium';
  font-size: 14px;
}

.dates input[type="date"]::-webkit-inner-spin-button, .dates input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.guests {
  width: 100%;
  border-top: 1px solid #a1a1a1;
  padding: 1rem;
  outline: 0px solid #000;
}

input#menu:checked~label.guests {
  border: 2px solid #000;
  border-radius: 8px;
}

input#menu:checked~label.guests .fa-chevron-down {
  transform: rotate(180deg);
}

input#menu, input#close, .submenu {
  display: none;
}

.menu label {
  position: relative;
  display: block;
  cursor: pointer;
  text-align: right;
}

input#menu:checked~ul.submenu {
  display: block;
}

input#close:checked~ul.submenu {
  display: none;
}

input#close~label {
  margin: 15px 0 0;
  text-align: right;
}

.submenu {
  min-width: 416px;
  padding: 1rem;
  border-radius: 4px !important;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 6px, rgb(0 0 0 / 7%) 0px 0px 0px 1px;
  position: absolute;
  background-color: #fff;
  right: 0;
}

div.age .title {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 15px;
}

.guest-details {
  padding-bottom: 1rem;
}

.guest-details:nth-child(4) {
  padding-bottom: 1.5rem;
}

p.detail {
  font-size: 14px;
}

.numeric {
  list-style-type: none;
}

.numeric .icon {
  border: 1px solid #a1a1a1;
  border-radius: 50%;
  padding: 10px;
  font-size: 12px;
}

.numeric .icon.fa-minus {
  opacity: 0.4;
}

.pricing div:nth-child(2) {
  border-bottom: 1px solid #a1a1a1;
  padding-bottom: 1rem;
}
